*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    --main-color: #01332c;
    --accent-color: #67d303;
    --contrast1: #ffffff;
    --contrast2: #000000;
}

html{
    font-size: 15px;
}

html, body, #root{
    height: auto;
    width: 100%;
    background: linear-gradient(var(--contrast2), var(--main-color));
    z-index: -1;
}

body{
    position: relative;
    display: flex;
    height: 100%;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
    backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, 0.247);
    z-index: 500;
}

.logoDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-left: 4%;
    gap: 19%;
}

.logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: 60px;
}

.logoTitleDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 200px;
}

.logoText{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--contrast1);
    padding-left: 2%;
}

.logoTitleDiv p{
    width: 100%;
}
.accentText{
    color: var(--accent-color);
}

.mobileNavLinks{
    position: fixed;
    top: 0;
    right: -810px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 70%;
    gap: 20px;
    background: rgba(255, 255, 255, 0.534);
    border-radius: 30px 0px 0px 30px;
    box-shadow: -10px 0px 30px rgba(0, 0, 0);
    backdrop-filter: blur(10px);
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.mobileNavLinks.navActive{
    right: 0px;
}

.mobileNavLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    padding-left: 30px;
}

.mobileNavLink a{
    text-decoration: none;
    color: var(--contrast2);
    transition: color 0.3s ease-in-out;
}

.mobileNavLink:hover{
    background-color: var(--contrast1);
}

.burgerMenuDiv{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    gap: 10px;
    right: 2%;
    z-index: 999;
}

.burgerMenuDiv:hover{
    cursor: pointer;
}

.burgerBar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8px;
    width: 100%;
    border-radius: 30px;
    background: var(--accent-color);
    transition: all 0.3s ease-in-out;
}

#bar2.active{
    opacity: 0;
}

#bar1.active{
    transform: rotate(45deg) translateY(13px) translateX(12px);
}

#bar3.active{
    transform: rotate(-45deg) translateY(-13px) translateX(12px);
}


.navLinks{
    position: absolute;
    height: 100%;
    width: 650px;
    top: 0;
    right: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 1.1rem;
    color: var(--contrast1)
}

.navLinks a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    transition: color 0.3s ease-in-out;
}

.defaultLink, 
.dropdownMenu{
    height: 100%;
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5%;
}

.dropdownMenu{
    flex-direction: column;
}

.dropdownMenuDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dropdownMenuDiv a{
    transition : color 0.3s ease-in-out;
}

.dropdownContainer{
    position: absolute;
    top: 70%;
    left: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 107%;
    height: 0px;
    background-color: var(--accent-color);
    border-radius: 0px 0px 10px 10px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}


.dropdownMenu:hover .dropdownContainer{
    padding: 2%;
    height: 150px;
}

.dropdownMenu:hover .dropdownArrow{
    transform: rotate(180deg);
}

.dropdownMenu:hover .dropdownLinks{
    display: flex;
}

.dropdownLinks{
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.dropdownLinks li{
    text-decoration: none;
    color: var(--contrast2);
    padding: 7% 0% 7% 0%;
}

.dropdownLinks li:first-child{
    padding-top: 0%;
}

.dropdownLinks li:last-child{
    padding-bottom: 0%;
}

.defaultLink::before {
    content: '';
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 40%;
    background-color: var(--accent-color);
    transform: scale(0);
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.defaultLink:hover::before{
    transform: scale(1);
}

.defaultLink:hover a{
    color: var(--contrast2);
}

.dropdownArrow{
    height: 12%;
    width: 9%;
    transition: all 0.3s ease-in-out;
}


#root{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#homeSection{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0%;
    height: 100vh;
    width: 100%;
    color : var(--contrast1);
    background: transparent;
}

.homeTitleLine{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 2%;
}

.homeTitleDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;;
    width: 100%;
}

#homeSection h1{
    width: auto;
    height: auto;
    font-size: 8rem;
    font-weight: 700;
    background: transparent;
    text-align: center;
}

#homeSection p{
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
    height: 10%;
    background: transparent;
    padding-right: 2%;
}

@media (min-width: 1080px) {
    .mobileNavLinks{
        display: none !important;
    }
}

@media (max-width: 1080px) {
    .navLinks {
        display: none !important;
    }
    .burgerMenuDiv {
        display: flex !important;
    }

    .homeTitleLine{
        justify-content: flex-start;
        margin-left: 10%;
    }

    #homeSection{
        width: 800px;
    }

    #homeSection p{
        text-align: start;
        width: 100%;
        margin-left: 10%;
    }

    #homeSection h1{
        font-size: 7rem;
    }
}

@media (max-width: 850px) {
    #homeSection{
        width: 700px;
    }

    #homeSection p{
        font-size: 1rem;
    }

    #homeSection h1{
        font-size: 6rem;
    }
}

@media (max-width: 730px) {
    #homeSection{
        width: 550px;
    }

    #homeSection p{
        font-size: 0.9rem;
    }

    #homeSection h1{
        font-size: 5rem;
    }
}

@media (max-width: 610px) {
    #homeSection{
        width: 450px;
        justify-content: flex-start;
        margin-top: 150px;
    }

    #homeSection p{
        font-size: 0.7rem;
    }

    #homeSection h1{
        font-size: 4rem;
    }
}

@media (max-width: 496px) {
    #homeSection{
        width: 350px;
    }

    #homeSection p{
        font-size: 0.6rem;
    }

    #homeSection h1{
        font-size: 3rem;
    }

    .logoTitleDiv{
        display: none;
    }
}

@media (max-width: 360px) {
    #homeSection{
        width: 230px;
    }

    #homeSection p{
        font-size: 0.4rem;
    }

    #homeSection h1{
        font-size: 2rem;
    }

    .logoTitleDiv{
        display: none;
    }
}